<article class="publication-entry" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <div class="publication-entry__badge">{{ post.abbr | default: "Preprint" }}</div>
  <div class="publication-entry__body">
    <h3 class="publication-entry__title" itemprop="headline"><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></h3>
    {% if post.authors %}
      <p class="publication-entry__authors" itemprop="author">{{ post.authors }}</p>
    {% endif %}
    <p class="publication-entry__venue"><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>
    <div class="publication-entry__links">
      {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank" rel="noopener">PDF</a>{% endif %}
      <a href="{{ base_path }}{{ post.url }}">Details</a>
    </div>
  </div>
</article>
